In [3]:
print('요일(월~일)을 입력하세요 : ')
dow = input()

if dow == '월':
    print('Monday')
elif dow == '화':
    print('Tuesday')
else:
    print("잘못 입력했습니다.")

요일(월~일)을 입력하세요 :
수
잘못 입력했습니다.

In [ ]:
print('수를 입력하세요 : ')
a = int(input())
if a > 10:
    if a%2 == 0: print('10보다 큰 짝수')
    else:        print('10보다 큰 홀수')
else:
    if a %2 == 0:
        print('10 이하의 짝수')
    else:
        print('10 이하의 홀수')

수를 입력하세요 :

In [14]:
dic = {'월':'Mon','화':'Tue','수':'Wed','목':'Thu','금':'Fri'}

dow = input()
if dow in dic.keys():
    dic.values()

월

In [9]:
# 3항 연산자
a = 7
b = 7 * (2 if (a%2 == 0) else 3)
print(b)

21

In [21]:
a = [4,3,6,1]
a.sort()
a

[1, 3, 4, 6]

In [24]:
a = [4,3,6,1]
b = sorted(a)
b
a

[4, 3, 6, 1]

In [29]:
student = [
    ('john', 'A', 14),
    ('jane', 'B', 10),
    ('dave', 'C', 12),
]

student.sort(reverse=True)
print(student)
#  튜플의 첫 번째 엘리먼트 정렬

[('john', 'A', 14), ('jane', 'B', 10), ('dave', 'C', 12)]